tls:
  certificates:
    - certFile: /etc/certs/owens_dev.crt
      keyFile: /etc/certs/owens_dev.key
  stores:
    default:
      defaultCertificate:
        certFile: /etc/certs/owens_dev.crt
        keyFile: /etc/certs/owens_dev.key
  options:
    default:
      minVersion: VersionTLS12
      cipherSuites:
        - ECDHE-ECDSA-AES256-GCM-SHA384
        - ECDHE-ECDSA-AES128-GCM-SHA256
        - ECDHE-RSA-AES128-GCM-SHA256
        - AES256-GCM-SHA384
        - AES128-GCM-SHA256
        - ECDHE-ECDSA-AES128-SHA256
        - ECDHE-RSA-AES128-SHA256
        - ECDHE-ECDSA-AES128-SHA
        - ECDHE-RSA-AES128-SHA
        - AES256-SHA AES128-SHA
        - ECDHE-ECDSA-AES256-GCM-SHA384
        - ECDHE-ECDSA-AES128-GCM-SHA256
        - ECDHE-ECDSA-AES256-SHA384
        - ECDHE-ECDSA-AES128-SHA256
        - ECDHE-ECDSA-AES256-SHA
        - ECDHE-ECDSA-AES128-SHA
        - DHE-DSS-AES256-GCM-SHA384
        - DHE-DSS-AES128-GCM-SHA256
        - DHE-DSS-AES256-SHA256
        - DHE-DSS-AES128-SHA256
        - DHE-DSS-AES256-SHA
        - DHE-DSS-AES128-SHA
        - DH-DSS-AES256-GCM-SHA384
        - DH-DSS-AES128-GCM-SHA256
        - DH-DSS-AES256-SHA256
        - DH-DSS-AES128-SHA256
        - DH-DSS-AES256-SHA
        - DH-DSS-AES128-SHA
        - ECDH-ECDSA-AES256-GCM-SHA384
        - ECDH-ECDSA-AES128-GCM-SHA256
        - ECDH-ECDSA-AES256-SHA384
        - ECDH-ECDSA-AES128-SHA256
        - ECDH-ECDSA-AES256-SHA
        - ECDH-ECDSA-AES128-SHA